.pills {
  &__container {
    align-items: center;
    height: 2.9rem;
    background-color: var(--green);
    cursor: pointer;
    color: var(--white);
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2.9rem;
    display: flex;
    justify-content: center;
    width: max-content;
    border-radius: 2rem;
    margin-bottom: 0.7rem;
    margin-right: 0.7rem;
    font-size: 1.7rem;
    font-weight: 400;
    
    &--active {
      background-color: var(--lightgray);
    }
  }
}
